<div class="w-nav header" data-collapse="medium" data-animation="default" data-duration="400" data-ix="display-none">
  <div class="w-clearfix navigation-div black">
    <a class="w-nav-brand brand hidden" href="index.html"><img class="image-logo-header" src="images/logo-new-couleur.png">
    </a>
    <div class="w-nav-button menu-button black">
      <div class="w-icon-nav-menu icon black"></div>
    </div>
    <nav class="w-nav-menu nav-menu" role="navigation">
      {% include navigation.html extraclass="black" %}
    </nav>
  </div>
</div>
<div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400">
  <div class="w-clearfix navigation-div">
    <a class="w-nav-brand brand" href="index.html"><img class="image-logo-header" src="images/logo-new-blanc-transparent.png">
    </a>
    <div class="w-nav-button menu-button">
      <div class="w-icon-nav-menu icon"></div>
    </div>
    <nav class="w-nav-menu nav-menu" role="navigation">
      {% include navigation.html %}
    </nav>
  </div>
</div>
